## Mirror SmugMug Statistics

This notebook runs queries against the `sqlite` database `mirror.db` that holds consolidated SmugMug online image metadata.

In [1]:
NB. J version - notebook runtime
smoutput 9!:14''
smoutput timestamp 6!:0 ''

j903/j64avx2/darwin/release-a/commercial/www.jsoftware.com/2021-12-16T15:26:50/clang-13-0-0/SLEEF=1
06 Feb 2022 12:04:41

In [2]:
NB. required addons - set portable box characters
load 'data/sqlite general/jod'
0 0$portchars ''

### Load Utilities and SQLITE data

In [3]:
NB. open dictionaries and fetch 
od ;:'imex smugpyter utils' [ 3 od ''
smoutput 75 list }. grp 'mirrorstats'
smoutput lg 'mirrorstats'

ALTMIRRORDBPATH          AlbumImageCount          AlbumImageCount_sql
GeotaggedAlbumImages_sql MIRRORDB                 MIRRORDBPATH
MeeusHomeLonLat          NotDivisible             albdist
albextent                antimode                 arctan
assert                   beforestr                charsub
cos                      dbquote                  dev
dstat                    earthdist                freq
itYMDhms                 kurtosis                 mean
meanalbdist              meanalblonlat            median
midpt                    mirrorcn                 mode2
nonemptyalbums           ofreq                    pwcf
q1                       q3                       rfd
round                    sin                      skewness
ssdev                    stddev                   var
+-+------------------------+
|1|mirrorstats group loaded|
+-+------------------------+

In [4]:
NB. set sqlite db file
(3 : 0)''
ALTMIRRORDBPATH=:''
if.     IFWIN  do. ALTMIRRORDBPATH=:'c:/pd/diaries/'
elseif. IFUNIX do. ALTMIRRORDBPATH=:'~/pd/dbs/'
end.
if. fexist dbf=: ALTMIRRORDBPATH,MIRRORDB do. dbf else. 'db not set' end.
)
smoutput dbf

~/pd/dbs/mirror.db

In [5]:
NB. fetch table columns
db=: sqlopen_psqlite_ dbf
showpass 'Tables' ;< >sqltables__db ''
(;0{oi)=: ;1{oi=: sqlread__db 'select * from OnlineImage order by UpLoadDate desc'
showpass 'OnlineImage columns' ; 50 list ;0{oi
(;0{al)=: ;1{al=: sqlread__db 'select * from Album order by OnlineImageCount desc'
'Album columns' ; 50 list ;0{al

+------+--------------+
|Tables|Album         |
|      |ImageAlbumXr  |
|      |ImageKeywordXr|
|      |LocalImage    |
|      |LocalPath     |
|      |OnlineImage   |
|      |OnlineKeyword |
+------+--------------+
+-------------------+------------------------------------------------+
|OnlineImage columns|ImageKey        OnlineImageFile ArchivedMD5     |
|                   |ArchivedSize    Latitude        Longitude       |
|                   |Altitude        OriginalHeight  OriginalWidth   |
|                   |RealDate        UploadDate      LastUpdated     |
|                   |Uri             ThumbnailUrl    Keywords        |
|                   |Caption                                         |
+-------------------+------------------------------------------------+
+-------------+------------------------------------+
|Album columns|AlbumKey          LocalPathID       |
|             |LocalPresent      OnlineImageCount  |
|             |OnlineCreateDate  LastUpdated       |
|             |ImagesLastUpdated AlbumName         |
|             |ParentFolders     WebUri            |
|             |AlbumDescription                    |
+-------------+------------------------------------+

### Total Online Image Count

In [6]:
sqlreads__db 'select count(*) as OnlineCount from OnlineImage'

+-----------+
|OnlineCount|
+-----------+
|4966       |
+-----------+

### Recent Image Additions

In [7]:
NB. last 10 images loaded
;"1 ] 10 {. (10 {.&.> RealDate) ,. (<' - ') ,. OnlineImageFile

2022-01-26 - me snow shoeing ketchum hemingway.jpg
2022-01-26 - mali hemingway memorial winter.jpg
2022-01-25 - me roundhouse deck sun valley.jpg
2022-01-25 - skiing in hell.jpg
2022-01-26 - me mali sun valley lodge pool collage.jpg
2022-01-26 - me snow shoeing ketchum.jpg
2022-01-26 - cross country sun valley.jpg
2022-01-25 - roundhouse sun valley panorama.jpg
2022-01-26 - snow shoe trail bald mountain.jpg
2022-01-26 - caution snow shoeing sign.jpg

### Album Statistics

In [8]:
NB. 10 largest albumns
10 {. (>AlbumName) ,. ": ,. >OnlineImageCount

Idaho Instants                458
The Way We Were               429
Cell Phoning It In            339
Weekenders                    320
Missouri Moments              315
California Captures           231
My Kids                       195
Montana Now and Then          165
Image Hacking                 163
Panoramas                     153

In [9]:
NB. album image counts
dstat OnlineImageCount

sample size:          77
minimum:               0
maximum:             458
1st quartile:         17
2nd quartile:         48
3rd quartile:        110
first mode:            7
first antimode:      458
mean:            78.4545
std devn:        94.7238
skewness:         2.1989
kurtosis:         8.0457

### Images per Year

My image dates are a mixture of EXIF dates and manually assigned dates. The manually assigned dates are rarely accurate and reflect my best guess as to when a picture was taken. Many images do not have dates. They show up in year 0.

In [10]:
NB. images per year - year 0 means no date
70 list ',' ,.~  ": rf=: \:~ |: > freq 0 {"1 rdt=: itYMDhms RealDate

2022  22, 2021 163, 2020  98, 2019 446, 2018 294, 2017 227, 2016 298,
2015 207, 2014  98, 2013 172, 2012 178, 2011 217, 2010 152, 2009 144,
2008 180, 2007 284, 2006 166, 2005 120, 2004 110, 2003  79, 2002 118,
2001 135, 2000  33, 1999   6, 1996   1, 1995  19, 1994   8, 1993   8,
1992  17, 1991  12, 1990   4, 1989  14, 1988   6, 1987  10, 1986   6,
1985   4, 1984   2, 1983  42, 1982   4, 1981  37, 1980  17, 1979  90,
1978  27, 1977  10, 1976  20, 1975   8, 1974  22, 1973   4, 1972   5,
1971  23, 1970  33, 1969  22, 1968  45, 1967  32, 1966  24, 1965   5,
1964  13, 1963   8, 1962  20, 1961   6, 1960   7, 1959  15, 1958  13,
1957   7, 1956   6, 1955  11, 1954  10, 1953   4, 1952   6, 1951   3,
1950   9, 1949  17, 1948  10, 1947   3, 1946   5, 1945   2, 1944   2,
1943   1, 1942   1, 1941   7, 1940   6, 1939   2, 1938   3, 1937   2,
1936   5, 1935   4, 1934   3, 1933   1, 1932   1, 1931   4, 1930   1,
1929   1, 1928   1, 1927   2, 1925   2, 1924   1, 1920   2, 1919   2,
1917   2, 1916   2, 1914   1, 1912   1, 1910   4, 1908   3, 1907   1,
1906   2, 1905   3, 1902   2, 1901   1, 1900   1, 1897   1, 1894   1,
1880   2, 1870   1, 1864   1,    0 180,

Images per year statistics since the year 2000. It was around 2000 that I started saving digital image files.

In [11]:
NB. images per year statistics for years after 1999
dstat (1 {"1 rf) #~ 1999 < 0 {"1 rf

sample size:           23
minimum:               22
maximum:              446
1st quartile:         110
2nd quartile:         163
3rd quartile:         217
first mode:            98
first antimode:        22
mean:            171.3478
std devn:         94.9405
skewness:          0.9878
kurtosis:          4.3145

### Uploads per Year

I often upload old images that get counted in prior years. These counts reflect actual database inserts. Note the count of 724 in 2019. I did not insert that many images in 2019. The upload count probably reflects reorganizing existing images. The count of 1531 in 2009 marks the year I transferred my online images to SmugMug.

In [12]:
70 list ',' ,.~  ": uf=: \:~ |: > freq 0 {"1 udt=: itYMDhms UploadDate

2022   27, 2021  203, 2020  109, 2019  724, 2018  352, 2017  319,
2016  362, 2015  222, 2014  102, 2013  256, 2012  233, 2011  314,
2010  212, 2009 1531,

In [13]:
NB. uploads per year statistics - less outliers > 600
dstat (1 {"1 uf) #~ 600 > 1 {"1 uf

sample size:           12
minimum:               27
maximum:              362
1st quartile:         156
2nd quartile:       227.5
3rd quartile:       316.5
first mode:            27
first antimode:        27
mean:            225.9167
std devn:        104.9333
skewness:         _0.4392
kurtosis:          2.2252

### `NotDivisible` counts

`NotDivisible` counts how many images must be added to a gallery so that the total number of gallery images is evenly divisible by 3 and 5. The iPhone SmugMug app displays images in rows of 3 (portrait) or 5 (landscape) and I like completely filled rows. When the total is evenly divisible by 15 = 3 * 5 both portrait and landscape rows are filled.

In [14]:
10 {. NotDivisible dbf

+-------+-+-+--+---------------------+
|[Count]|3|5|15|[Album Name]         |
+-------+-+-+--+---------------------+
|163    |2|2|2 |Image Hacking        |
+-------+-+-+--+---------------------+
|458    |1|2|7 |Idaho Instants       |
+-------+-+-+--+---------------------+
|7      |2|3|8 |Does Not Fit         |
+-------+-+-+--+---------------------+
|7      |2|3|8 |Test Patterns        |
+-------+-+-+--+---------------------+
|7      |2|3|8 |Partial Restorations |
+-------+-+-+--+---------------------+
|22     |2|3|8 |To Much Information  |
+-------+-+-+--+---------------------+
|7      |2|3|8 |Fake Pixels          |
+-------+-+-+--+---------------------+
|64     |2|1|11|Banff and Jasper 2006|
+-------+-+-+--+---------------------+
|49     |2|1|11|New York 2005        |
+-------+-+-+--+---------------------+

### Color Keywords

Keywords starting with `0_` are dominant color keys assigned by the Python `SmugPyter` program.

In [15]:
db=: sqlopen_psqlite_ dbf
(;0{kw)=: ;1{kw=: sqlread__db 'select * from ImageKeywordXr'
'ImageKeywordXr columns' ; 0{kw

+----------------------+------------------+
|ImageKeywordXr columns|+--------+-------+|
|                      ||ImageKey|Keyword||
|                      |+--------+-------+|
+----------------------+------------------+

In [16]:
topbotk=: 4 : 0
NB.topbotk v-- (x) top and bottom (y) keys
kf=: ofreq y
kf=: (' ' ,. >;0{kf) ,.~ ":>,.;1{kf
(x {. kf) ,. |. (-x) {. kf
)

In [17]:
NB. top/bottom 20 color keywords
ColorKeys=: Keyword #~ ('0_'&-:)@(2&{.)&> Keyword
20 topbotk ColorKeys

511 0_darkslategrey         1 0_forestgreen
370 0_black                 1 0_aquamarine
244 0_darkolivegreen        1 0_magenta
229 0_dimgrey               1 0_lightyellow
224 0_steelblue             1 0_lawngreen
207 0_darkgrey              1 0_lavenderblush
185 0_rosybrown             1 0_indigo
177 0_gainsboro             1 0_lightgreen
174 0_lightsteelblue        1 0_springgreen
171 0_lightgrey             1 0_cyan
168 0_grey                  1 0_hotpink
154 0_tan                   1 0_darkmagenta
149 0_cornflowerblue        1 0_floralwhite
120 0_silver                1 0_cornsilk
118 0_lavender              1 0_mediumorchid
 86 0_lightslategrey        2 0_greenyellow
 85 0_sienna                2 0_lime
 81 0_peru                  2 0_limegreen
 77 0_saddlebrown           2 0_seashell
 77 0_skyblue               2 0_mediumblue

### Print Size Keywords

In [18]:
NB. top/bottom 20 print size keywords
SizeKeys=: ColorKeys -.~ Keyword #~ ({.&> Keyword) e.&> <'0123456789'
NB. remove odd keys that do not follow name conventions
NssKeys=: <;._1 ' 0z0 0z1'
SizeKeys=: SizeKeys -. (<;._1 ' 50th'),NssKeys
20 topbotk SizeKeys

939 4x6       1 2.25x4
847 5x7       1 8x32
538 8x12      1 10x16
274 5x6.7     1 8x40
259 10x15     1 12x30
249 6x8       1 6x24
198 3x4       1 16x24
151 2.5x3.5   1 3x3
133 4x5       1 5x8
 92 5x5       1 5.5x14
 64 6x10      1 9x21
 60 3x5       1 4x5.3
 52 2x3       1 2x2.5
 50 8x10      2 16x20
 28 4x4       2 12x24
 24 3.5x5     2 6x15
 23 8x8       2 10x13
 19 10x14     2 11x28
 13 6x6       2 8x10.6
 13 5x6       2 9x36

In [19]:
NB. size keys that indicate not enough pixels or nonstandard aspect ratio
NssKeys ,. <"0 +/"1 NssKeys =/ Keyword

+---+---+
|0z0|258|
+---+---+
|0z1|466|
+---+---+

### Descriptive Keywords

All keywords that are not color or size keys.

In [20]:
DescKeys=: Keyword -. ColorKeys,SizeKeys,NssKeys
20 topbotk DescKeys

1209 geotagged                     1 rafting
 954 usa                           1 prayer
 524 mali                          1 tooth
 371 me                            1 saber
 230 idaho                         1 columns
 224 park                          1 remnants
 202 iphone                        1 pictographs
 198 helen                         1 skeleton
 180 lake                          1 sizes
 172 river                         1 rafts
 168 missouri                      1 dell
 153 canada                        1 large
 150 jacob                         1 josie
 141 museum                        1 powers
 125 montana                       1 fremont
 121 ontario                       1 knife
 111 sculpture                     1 hazhard
 102 canyon                        1 lectern
  99 evelyn                        1 bride
  87 sun                           1 bedazzled

### GPS Distances

In [21]:
NB. longitude and latitude of home decimal degrees
NB. western longitudes +, northern latitudes +
MeeusHomeLonLat=: 116.375956 43.646775

In [22]:
NB. distances in km from near to far excluding (0,0) lb
NB. convert to Meeus lb convention for (earthdist)
plb=: (i. #Longitude) ,. (-Longitude) ,. Latitude
plb=: |: plb #~ -.0 0 -:"1 ] 1 2 {"1 plb
plb=: /:~ (0{plb) ,.~ MeeusHomeLonLat earthdist 1 2{plb

In [23]:
NB. format image distance
fmdist=: {{;"1 ":&.> (<"0 ] 0.01 round 0 {"1 y) ,. (<' - ') ,. (1 {"1 y){OnlineImageFile}}

In [24]:
NB. 10 nearest geotagged images km
fmdist 10{.plb

0.11 - neighborhood intersection park.jpg
0.12 - road end promises.jpg
0.16 - not so burning bush.jpg
0.32 - meridian irrigation canal.jpg
0.51 - mashed squirrel roadkill.jpg
0.57 - school playground map.jpg
0.64 - new meridian neighborhood.jpg
0.64 - territory drive house construction august.jpg
0.64 - territory drive house building.jpg
0.85 - bogus latter day saints.jpg

In [25]:
NB. 10 furthest geotagged images km
fmdist |. _10{.plb

15830.93 - pishi on pishi [47018603].jpg
15487.74 - air malawi [42502530].jpg
15477.27 - victoria falls hotel distance marker [36406766].jpg
15476.92 - me livingstone statue [19983766].jpg
15476.82 - vic falls train station [51228396].jpg
15476.62 - curio market from balloon [49529252].jpg
15476.31 - mali sprayview hotel [51064919].jpg
15467.23 - me nude kafunta chalet [1157046406].jpg
15467.23 - kafunta lodge veranda [2486888].jpg
15466.71 - me livingstone airport [47004492].jpg

In [26]:
NB. image distance statistics
dstat 0 {"1 plb

sample size:          1209
minimum:            0.1089
maximum:         15830.934
1st quartile:     448.8827
2nd quartile:    1000.5581
3rd quartile:    2258.4472
first mode:       849.1692
first antimode:     0.1089
mean:            1830.7624
std devn:        2554.3229
skewness:            3.153
kurtosis:          14.7608

In [27]:
NB. mean album geotagged image distances
mad=: albdist 0

In [28]:
NB. album "centroid" distance statistics
dstat ;0 {"1 mad

sample size:            59
minimum:             4.051
maximum:         15482.402
1st quartile:     826.8154
2nd quartile:      2198.38
3rd quartile:     3203.335
first mode:       930.5087
first antimode:   930.5087
mean:            3063.9695
std devn:        3385.8262
skewness:           1.8857
kurtosis:           5.9996

In [29]:
NB.format album distances.
fmtad=:{{('8.2'&(8!:2) ,. km) ,. ' - ' ,"1 alb [ 'km alb'=. |: x {. y}}

In [30]:
NB. 10 nearest albums
10 fmtad /:~ mad

    4.05 - Improvised Imaging Devices
    9.88 - Camera Tests
  119.71 - Idaho Instants
  305.60 - Anne and Reza Visit
  371.43 - Collages
  490.53 - Montana Now and Then
  503.38 - Logos Screenshots Covers
  535.33 - North by Northwest
  546.91 - Tetons Yellowstone 2013
  610.78 - From Hazel's Albums

In [31]:
NB. 10 furthest albums
10 fmtad \:~ mad

15482.40 - Zambia Eclipse Trip
11660.41 - Iran 1960's
11272.49 - Ghana 1970's
11225.88 - ACS School Trips 1960's
10963.97 - Beirut Lebanon 1960's
 8457.47 - South America 1979
 8409.77 - Enewetak Atoll 1980's
 6347.19 - Diving at Bellairs Barbados BW
 6346.13 - Barbados Late 1970's
 6046.94 - GPS Extremes

In [32]:
3 od ''

+-+---------+----+---------+-----+
|1|closed ->|imex|smugpyter|utils|
+-+---------+----+---------+-----+